.footer {
    background-color: #f8f8f7;
    color: black;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
    font-family: 'Helvetica Neue', sans-serif;
  }
  