.footer {
    background-color:#F5F8FA;
    color:  #234357;
    text-align: center;
    padding: 1rem;
    position: fixed;
    bottom: 0;
    width: 100%;
    font-family: 'Helvetica Neue', sans-serif;
    border-top: 0.03rem solid #ccc;

  }
  